<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vt.finder"
    android:versionCode="25"
    android:versionName="3.5" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

	<instrumentation android:targetPackage="vt.finder"
		android:name="android.test.InstrumentationTestRunner">
	</instrumentation>

	<!-- TELEPHONY DEPENDENCIES ____________________________________________________-->
	<uses-feature android:name="android.hardware.telephony" android:required="false" />
	<uses-feature android:name="android.telephony" android:required="false" />
	<!--____________________________________________________________________________-->
	<uses-feature android:name="android.hardware.wifi" android:required="false" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" android:required="false" />
	<uses-permission android:name="android.permission.READ_CONTACTS" android:required="false" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" android:required="false" />
	<uses-permission android:name="android.permission.RECEIVE_SMS" android:required="false" />
	<uses-permission android:name="android.permission.SEND_SMS" android:required="false" />
	<uses-permission android:name="android.permission.VIBRATE" android:required="false" />
    
    <application
        android:allowBackup="True"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sherlock" >
        
        <uses-library android:name="android.test.runner" />
		<uses-library android:name="com.google.android.maps" />
        
		<activity android:name="vt.finder.activities.VTFinderActivity"
			android:label="@string/app_name" android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="vt.finder.activities.VTComparisonActivity"></activity>
		<activity android:name="vt.finder.activities.VTHandshakeActivity"></activity>
		
		<service
            android:enabled="true"
            android:name="vt.finder.main.VTFinderService" />
		
    </application>

</manifest>